<!DOCTYPE html>
<html>
  <head>
    <title>Anathema</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
    <link rel="shortcut icon" href="/favicon.ico"> 
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <center>
      <div class = "page-header">
	<h1><a href="/" style="text-decoration:none; color:white">Anathema</a></h1>
      </div>
    </center>
    {% block info %}
    <center><a onclick="$('#addPost').toggle()"><button class="btn btn-default">New Post</button></a></center>
    <br>
    <br>
    <div hidden id="addPost">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-horizontal" role="form">
	<div class="form-group">
	  <label for="title">Title</label>
	  <input type="text" class="form-control input-sm" id="title" name="title">
	</div>
	<div class="form-group">
	  <label for="author">Author</label>
	  <input type="text" class="form-control input-sm" id="author" name="author">
	</div>
	<div class="form-group">
	  <label for="post">Post</label>
	  <textarea class="form-control" rows="4" id="post" name="post" ></textarea>
	</div>
	<button type="submit" class="btn btn-default pull-right" name="new_post" value="Post">Post</button>
	<br>
	<br>
	<br>
	<br>
      </form>
    </div>
    </div>

    {% if title_list %}
    {% set vars = {"l" : "", "t" : "", "a" : "", "p" : ""} %} 
    {% for a in title_list %}
    {% if vars.update ({"t":a}) %}
    {% endif %}
    {% if vars.update ({"l": "/" + vars.t }) %}
    {% endif %}
    {% set n = loop.index %}
    
    {% for b in author_list %}
    {% if loop.index == n %}
    {% if vars.update ({"a":b}) %}
    {% endif %}
    {% endif %}
    {% endfor %}
    
    {% for c in post_list %}
    {% if loop.index == n %}
    {% if vars.update ({"p":c}) %}
    {% endif %}
    {% endif %}
    {% endfor %}

    <div class="col-lg-8 col-lg-offset-2 panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"> <a href = {{vars.l}}>{{vars.t}}</a> </h3>
      </div>
      <div class="panel-body">
	<h5>{{vars.a}}</h5>
	<br>
	{{vars.p}}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock info %}
  </body>
</html>
