<!DOCTYPE html>
<html lang>
  <head>
    <title>Anathema</title>
  </head>
  <body>
    <form method = "GET">
      <h1>Anathema</h1>
      <input type = "text" name = "title">
      <br>
      <input type = "text" name = "author">
      <br>
      <input type = "text" name = "post">
      <br>
      <input type = "submit" name = "new_post" value = "Post">
      <br>
      <br>
      <a href = {{link}}>{{title}}</a>
      <br>
      {{author}}
      <br>
      {{post}}
    </form>
    
  </body>
</html>
